In [129]:
import tensorflow as tf
import tensorflow.keras as keras
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [130]:
train=pd.read_csv("imdb_reviews.csv")
test=pd.read_csv("test_reviews.csv")

In [131]:
train.head()

                                             Reviews Sentiment
0  <START this film was just brilliant casting lo...  positive
1  <START big hair big boobs bad music and a gian...  negative
2  <START this has to be one of the worst films o...  negative
3  <START the <UNK> <UNK> at storytelling the tra...  positive
4  <START worst mistake of my life br br i picked...  negative

In [132]:
test.head()

                                             Reviews Sentiment
0  <START please give this one a miss br br <UNK>...  negative
1  <START this film requires a lot of patience be...  positive
2  <START many animation buffs consider <UNK> <UN...  positive
3  <START i generally love this type of movie how...  negative
4  <START like some other people wrote i'm a die ...  positive

In [133]:
index=pd.read_csv("word_indexes.csv")

In [134]:
index.head()

     Words  Indexes
0  tsukino    52009
1  nunnery    52010
2    sonja    16819
3     vani    63954
4    woods     1411

In [135]:
index=dict(zip(index.Words,index.Indexes))
index["<PAD"]=0
index["<START"]=1
index["<UNK>"]=2
index["<UNUSED>"]=3

In [136]:
def review_encoder(text):
  arr=[index[word] for word in text]
  return arr

In [137]:
train_data,train_labels=train['Reviews'],train['Sentiment']
test_data, test_labels=test['Reviews'],test['Sentiment']
train_data=train_data.apply(lambda review:review.split())
test_data=test_data.apply(lambda review:review.split())
train_data=train_data.apply(review_encoder)
test_data=test_data.apply(review_encoder)

In [138]:
train_data.head()

0    [1, 14, 22, 16, 43, 530, 973, 1622, 1385, 65, ...
1    [1, 194, 1153, 194, 8255, 78, 228, 5, 6, 1463,...
2    [1, 14, 47, 8, 30, 31, 7, 4, 249, 108, 7, 4, 5...
3    [1, 4, 2, 2, 33, 2804, 4, 2040, 432, 111, 153,...
4    [1, 249, 1323, 7, 61, 113, 10, 10, 13, 1637, 1...
Name: Reviews, dtype: object

In [139]:
def encode_sentiments(x):
  if x=='positive':
    return 1
  else:
    return 0

train_labels=train_labels.apply(encode_sentiments)
test_labels=test_labels.apply(encode_sentiments)

In [140]:
train_data=keras.preprocessing.sequence.pad_sequences(train_data,value=0,padding='post',maxlen=256)
test_data=keras.preprocessing.sequence.pad_sequences(test_data,value=0,padding='post',maxlen=256)

In [141]:
model = keras.Sequential([
    keras.layers.Embedding(10000, 16, input_length=256),
    keras.layers.GlobalAveragePooling1D(),
    keras.layers.Dense(16, activation='relu'),
    keras.layers.Dense(1, activation='sigmoid')
])

In [142]:
model.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [143]:
#training the model
history=model.fit(train_data,train_labels,epochs=30,batch_size=512,validation_data=(test_data,test_labels))

Epoch 1/30
49/49 [==============================] - 2s 25ms/step - loss: 0.6913 - accuracy: 0.6127 - val_loss: 0.6880 - val_accuracy: 0.6332
Epoch 2/30
49/49 [==============================] - 1s 23ms/step - loss: 0.6804 - accuracy: 0.6992 - val_loss: 0.6705 - val_accuracy: 0.7188
Epoch 3/30
49/49 [==============================] - 1s 20ms/step - loss: 0.6506 - accuracy: 0.7668 - val_loss: 0.6310 - val_accuracy: 0.7647
Epoch 4/30
49/49 [==============================] - 1s 20ms/step - loss: 0.5968 - accuracy: 0.7949 - val_loss: 0.5726 - val_accuracy: 0.7973
Epoch 5/30
49/49 [==============================] - 1s 21ms/step - loss: 0.5275 - accuracy: 0.8254 - val_loss: 0.5058 - val_accuracy: 0.8224
Epoch 6/30
49/49 [==============================] - 1s 23ms/step - loss: 0.4564 - accuracy: 0.8496 - val_loss: 0.4462 - val_accuracy: 0.8408
Epoch 7/30
49/49 [==============================] - 1s 22ms/step - loss: 0.3979 - accuracy: 0.8678 - val_loss: 0.4015 - val_accuracy: 0.8509
Epoch 8/30
49/49 [==============================] - 1s 21ms/step - loss: 0.3537 - accuracy: 0.8793 - val_loss: 0.3699 - val_accuracy: 0.8587
Epoch 9/30
49/49 [==============================] - 1s 22ms/step - loss: 0.3203 - accuracy: 0.8881 - val_loss: 0.3477 - val_accuracy: 0.8643
Epoch 10/30
49/49 [==============================] - 1s 23ms/step - loss: 0.2947 - accuracy: 0.8957 - val_loss: 0.3312 - val_accuracy: 0.8683
Epoch 11/30
49/49 [==============================] - 1s 22ms/step - loss: 0.2741 - accuracy: 0.9011 - val_loss: 0.3197 - val_accuracy: 0.8704
Epoch 12/30
49/49 [==============================] - 1s 24ms/step - loss: 0.2570 - accuracy: 0.9084 - val_loss: 0.3098 - val_accuracy: 0.8744
Epoch 13/30
49/49 [==============================] - 1s 21ms/step - loss: 0.2423 - accuracy: 0.9125 - val_loss: 0.3027 - val_accuracy: 0.8755
Epoch 14/30
49/49 [==============================] - 1s 20ms/step - loss: 0.2296 - accuracy: 0.9177 - val_loss: 0.2973 - val_accuracy: 0.8778
Epoch 15/30
49/49 [==============================] - 1s 20ms/step - loss: 0.2187 - accuracy: 0.9204 - val_loss: 0.2951 - val_accuracy: 0.8782
Epoch 16/30
49/49 [==============================] - 1s 21ms/step - loss: 0.2082 - accuracy: 0.9254 - val_loss: 0.2904 - val_accuracy: 0.8807
Epoch 17/30
49/49 [==============================] - 1s 22ms/step - loss: 0.1994 - accuracy: 0.9291 - val_loss: 0.2907 - val_accuracy: 0.8792
Epoch 18/30
49/49 [==============================] - 1s 20ms/step - loss: 0.1913 - accuracy: 0.9314 - val_loss: 0.2879 - val_accuracy: 0.8818
Epoch 19/30
49/49 [==============================] - 1s 20ms/step - loss: 0.1830 - accuracy: 0.9358 - val_loss: 0.2875 - val_accuracy: 0.8824
Epoch 20/30
49/49 [==============================] - 1s 22ms/step - loss: 0.1757 - accuracy: 0.9384 - val_loss: 0.2886 - val_accuracy: 0.8821
Epoch 21/30
49/49 [==============================] - 1s 21ms/step - loss: 0.1695 - accuracy: 0.9407 - val_loss: 0.2880 - val_accuracy: 0.8827
Epoch 22/30
49/49 [==============================] - 1s 20ms/step - loss: 0.1631 - accuracy: 0.9441 - val_loss: 0.2891 - val_accuracy: 0.8820
Epoch 23/30
49/49 [==============================] - 1s 20ms/step - loss: 0.1572 - accuracy: 0.9464 - val_loss: 0.2914 - val_accuracy: 0.8823
Epoch 24/30
49/49 [==============================] - 1s 22ms/step - loss: 0.1518 - accuracy: 0.9485 - val_loss: 0.2930 - val_accuracy: 0.8829
Epoch 25/30
49/49 [==============================] - 1s 25ms/step - loss: 0.1465 - accuracy: 0.9508 - val_loss: 0.2958 - val_accuracy: 0.8818
Epoch 26/30
49/49 [==============================] - 1s 25ms/step - loss: 0.1416 - accuracy: 0.9527 - val_loss: 0.2982 - val_accuracy: 0.8824
Epoch 27/30
49/49 [==============================] - 1s 21ms/step - loss: 0.1369 - accuracy: 0.9544 - val_loss: 0.3025 - val_accuracy: 0.8796
Epoch 28/30
49/49 [==============================] - 1s 23ms/step - loss: 0.1326 - accuracy: 0.9566 - val_loss: 0.3068 - val_accuracy: 0.8788
Epoch 29/30
49/49 [==============================] - 2s 32ms/step - loss: 0.1284 - accuracy: 0.9584 - val_loss: 0.3088 - val_accuracy: 0.8792
Epoch 30/30
49/49 [==============================] - 1s 20ms/step - loss: 0.1240 - accuracy: 0.9598 - val_loss: 0.3124 - val_accuracy: 0.8798

In [144]:
loss,accuracy=model.evaluate(test_data,test_labels)

782/782 [==============================] - 2s 2ms/step - loss: 0.3124 - accuracy: 0.8798

In [146]:
import tensorflowjs as tfjs
tfjs.converters.save_keras_model(model, 'tfjs_model')